@media(max-width:768px){

  .main-nav{
    display:none;
  }

  .news-card img{
    height:140px;
  }

  .list-item{
    flex-direction:column;
  }

  .list-item img{
    width:100%;
    height:180px;
  }
}
